.container {
    gap: 10px;
    padding: 10px;
    max-width: 409px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 1px;
}
.header {
    font-size: 20px;
    color: grey;
}
.email-item {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: flex-start;
}
.monyet {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.email-content {
    flex-grow: 1;
}
.email-header {
    display: flex;
    justify-content: space-between;

}
.pesan-1 {
    font-size: 16px;
    font-weight: bold;

}
.jam {
    font-size: 12px;
    color: grey;
}
.subject {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}
.preview {
    color: grey;
}