.container {
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 1px;
    max-width: 409px;
}
.bold {
    font-weight:bold;
}
.grey {
    color: grey;
}
.item {
    display: flex;
    padding: 10px 15px;
    align-items: flex-start;

}
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.content {
    padding: 10px;
    font-size: 13px;
    gap: 20px;
    flex:1;
}
.messages {
    font-size: 14px;
    line-height: 1.4;
}
.header {
    margin-bottom: 4px;
}
.tumbnail {
    display: flex;
    align-items: stretch;
    border: 1px black solid;
    border-radius: 15px;
    margin-top: 10px;
    overflow: hidden;
    cursor: pointer;
}
.pict {
    width: 120px;
    background-color: rgb(170, 168, 168);
    flex-shrink: 0;
}
.content-yt {
    display: flex;
    flex-direction: column;
    padding: 12px;
    justify-content: center;
}
.header-yt {
    font-size: 14px;
    color: grey;
}