.img {
    padding: 10px 15px;
    width: 30%;
    height: 30%
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search {
    width: 700px;
    border-radius: 20px;
    padding: 10px 15px;
    border: none;
    box-shadow: 0 1px 10px rgba(32, 33, 36, 0.28);
    margin-top: 0px;
    outline: none;

}