body {
    height: 3000px;
}
.container {
    background-color: rgb(221, 215, 215);
    display: inline-block;
    position: relative;
}
.discount {
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: black;
    color: white;
    padding: 5px 5px;
}