body {
    height: 3000px;
}
.container {
    background-color: rgb(221, 215, 215);
    display: inline-block;
    position: relative;
}
.discount {
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: black;
    color: white;
    padding: 5px 5px;
}
.clothes {
    display: block;
    width: 300px;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-cart {
    background-color: white;
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s ease;
}
.btn-cart:hover {
    background-color: black;
    color: white;
}
.btn-cart:active {
    transform: scale(0.9);
}