.container {
    font-family: arial;
}
.profile,#text,.tweet {
    vertical-align: middle;
}
.profile {
    width: 100px;
    border-radius: 100px;
}
.tweet {
    background-color:blue;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   border: none;
    border-radius: 20px;
    cursor:pointer;
    transition: all 0.3 ease;
}
#text {
    width:250px;
    border: none;
    font-size: 18px;
    outline: none;
}
.tweet:hover {
    transform: scale(1.1);
}
.tweet:active {
    transform: scale(0.9);
}