.container {
    font-family: sans-serif;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 200px;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
  
}
.h5 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;

}
.profile{
    width: 200px;
}
.p {
    color: grey;
}
.btn {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover {
    transform: scale(1.1);
}
.btn:active {
    transform: scale(0.9);
}