.line-container {
    text-align: center;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.img {
    width: 270px;
    height: auto;
}

.search {
    width: 585px;
    border-radius: 24px;
    padding: 12px 20px;
    border: 1px solid #dfe1e5;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    outline: none;
}

.button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    padding: 8px 16px;
    margin: 11px 4px;
    cursor: pointer;
}