.button-1{
    background-color: rgb(10,102,194);
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border:none;
}

.button-1:active {
    transform: scale(0.95);}

.button-2 {
    background-color: white;
    font-weight: bold;
    color: rgb(10,102,194);
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid rgb(10,102,194);
}

.button-2:active {
    transform: scale(0.95);
}