.container {
    font-family: arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0.5;
}
.new {
    color: red;
    margin-top:0px;
}
.h1 {
    margin-top:0px;
}
.h3 {
    margin-top:0px;
    font-size:25px;
}
.from {
    color: grey;
    margin-top:0px;
}
.buy {
    border:none;
    border-radius:8px;
    background-color:blue;
    color: white;
    padding: 10px 20px;
    font-weight:bold;
    cursor: pointer;
}
.buy:hover {
    background-color: darkblue;
}
.buy:active {
    transform: scale(1.1);
}