.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  column-gap: 15px;
  width: 620px;
  align-items: center;
  margin-top: 20px;
}
.container {
  background-color: white;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  padding-bottom: 15px;
}
.profile {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

.h5 {
  font-family: Arial;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 8px;
  margin-left: 12px;
}

.mutual-row {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  margin-left: 12px;
  margin-bottom: 15px;
}


.mini-profile {
  width: 28px;
  height: 28px;
  border-radius: 14px;
  object-fit: cover;
}

.p {
  font-family: Arial;
  font-size: 14px;
  color: gray;
  margin: 0;
}

.btn {
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 12px;
  font-family: Arial;
  font-weight: bold;
}

.btn:active {
  opacity: 0.7;
}